#settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

label {
    margin: 5px 0;
}

input[type="number"] {
    width: 100%;
    max-width: 80px;
    text-align: center;
}

@media (max-width: 480px) {
    #circle {
        width: 150px;
        height: 150px;
    }

    .logo {
        width: 40px;
    }

    .brand-name {
        font-size: 1.5rem;
        font-family: 'Audrey', sans-serif;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    .logo {
        width: 60px;
    }

    .brand-name {
        font-size: 1.6rem;
        font-family: 'Audrey', sans-serif;
    }
}


@media (min-width: 768px) {
    #settings {
        flex-direction: row;
        gap: 20px;
    }

    label {
        margin: 0;
    }

    .logo {
        width: 60px;
    }

    .brand-name {
        font-size: 1.8rem;
        font-family: 'Audrey', sans-serif;
    }
}

@media (min-width: 1200px) {
    #instruction {
        font-size: 2.5rem;
    }

    #countdown {
        font-size: 2rem;
    }

    .logo {
        width: 80px;
    }

    .brand-name {
        font-size: 1.8rem;
        font-family: 'Audrey', sans-serif;
    }
}

/* Header Logo et Titre */
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

.logo {
    height: auto;
}

.brand-name {
    margin: 0;
    padding-left: 10px;
}

/* Body */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(140, 117, 73, 0.1);
}

header {
    position: absolute;
    top: 20px;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
}


#circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #A68A56;
    border-radius: 50%;
    margin: 0 auto;
    animation-fill-mode: both;
}

#instruction {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Audrey', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #F2F2F2;
    z-index: 1;
    pointer-events: none;
    background-color: #0D0D0D;
    border-radius: 70px;
    width: 125px;
    height: 125px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#countdown {
    font-size: 1.5rem;
    margin-top: 1rem;
}

#progress-bar-container {
    width: 100%;
    height: 20px;
    background-color: #F2F2F2;
    margin-top: 1rem;
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: #A68A56;
    transition: width 1s linear;
}

#progress-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

#progress-circle circle {
    stroke-linecap: round;
}

#progress-circle circle:nth-child(2) {
    stroke: #F2F2F2;
    stroke-width: 2;
    stroke-dasharray: 282.7433388230814;
    stroke-dashoffset: 282.7433388230814;
}

#start-btn {
    background-color: #A68A56;
    border: none;
    color: #F2F2F2;
    text-align: center;
    font-size: 1.5rem;
    padding: 2px;
    margin: 5px;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s;
    width: 60px;
    height: 60px;
}

#start-btn:hover {
    background-color: rgb(140, 117, 73);
}


circle {
    stroke-linecap: round;
}

footer {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    font-size: 1rem;
    text-align: center;
}


@keyframes breathe-in {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

@keyframes breathe-out {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@font-face {
    font-family: 'Audrey';
    src:
    url('/src/fonts/Audrey-Normal.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}